<h1>Blogs</h1>
<div class="row">
    {{#each blogs}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon postedBy ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 150) }}</p>
                <br>
                <div class="chip">
                    <img src="{{postedBy.image}}" alt="">
                    <a href="/blogs/user/{{postedBy._id}}">{{postedBy.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/blogs/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No Blogs To Display</p>
    {{/each}}
</div>